#hb {
    font-family: 'Montserrat' !important;
    font-size: 10px !important;
}

.nav-link {
    color: #2B2B2B !important;
}

.navbar-nav > li#DAMEN > a{
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 22px !important;
    width: 58px !important;
}

.navbar-nav > li#HERREN > a{
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 22px !important;
    width: 58px !important;
}

.navbar-nav > li#SALE > a{
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 22px !important;
    width: 69px !important;
}

.navbar-nav > li#FASHIONEIGHT > a{
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 22px !important;
    width: 110px !important;
}

.navbar {min-height: 22px !important;}